<div class="main-container">
    <h1 class="display-6 text-center m-0">@ViewData["Title"]</h1>
    <div class="row mt-5">
        <div class="col-12 col-sm-6 m-auto">
            <div class="m-auto">
                <ul style="list-style: square">
                    <li>
                        <span>Redes Sociais</span>
                        <ul>
                            <li>
                                <a href="https://www.linkedin.com/in/marcio-schlosser-a52485136/" target="_blank">
                                    <strong>Linkedin</strong>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/marcio.augusto.731/" target="_blank">
                                    <strong>Facebook</strong>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>Github</span>
                        <ul>
                            <li>
                                <a href="https://github.com/MarcioAugustoInkster" target="_blank">
                                    <strong>MarcioAugustoInkster</strong>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>Email</span>
                        <ul>
                            <li><span>Oficial: </span><strong>marcio_augusto_09@hotmail.com</strong></li>
                            <li><span>Alternativo: </span><strong>marcioaugustoslsr@gmail.com</strong></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
