<div class="main-container">
    <h1 class="display-6 text-center m-0">@ViewData["Title"]</h1>
    <div class="row m-0">
        <div class="col-12 col-sm-6 m-auto">
            <div style="margin: 30px 0">
                <h6>Este pequeno manual pode ajudar a deixar a interação da aplicação mais simplificada.</h6>
            </div>
            <div class="m-auto">
                <ul style="list-style: square">
                    <li>
                        <span>Dados</span>
                        <ul style="list-style: decimal">
                            <li>Apenas 1 Empresa pode ser cadastrada <strong>por instância</strong> (não por vez).</li>
                            <li>O filtro traz o <strong>conjunto de informações</strong> inseridos nos campos.</li>
                            <li>Ao cadastrar uma Empresa, é possível adicionar N Fornecedores.</li>
                            <li>Não existe limpeza de campos.</li>
                        </ul>
                    </li>
                    <li>
                        <span>Formatação</span>
                        <ul style="list-style: decimal">
                            <li>É ideal inserir os campos de <strong>CPF/CNPJ</strong> com o formato respectivo.</li>
                            <li>Alterando entre CPF ou CNPJ, também altera o <strong>formato</strong> do campo.</li>
                            <li><strong>Nenhum</strong> campo possui máscara de campo.</li>
                        </ul>
                    </li>
                    <li>
                        <span>Validação</span>
                        <ul style="list-style: decimal">
                            <li>Alguns campos possuem validação.</li>
                        </ul>
                    </li>
                    <li>
                        <span>Exclusão</span>
                        <ul style="list-style: decimal">
                            <li>Os botões excluir [X] <strong>não</strong> removem os dados fisicamente.</li>
                            <li>É possível <strong>remover</strong> a empresa <strong>da Lista</strong>.</li>
                            <li>Removendo a Empresa, <strong>removerá</strong> também os Fornecedores.</li>
                            <li>É possível remover os Fornecedores da Lista <strong>individualmente</strong>.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
